snippet af "arrow function"
	const ${1:functionName} = (${2:args}) => {
		${0}
	}
snippet cl "console log"
	console.log(${0:hoge})
snippet map "map"
	cosnt ${1:val} = ${2:mapObject}.map((${3:v}) => {
				${0}
			})
snippet retob "return object"
	return (

		   )
