[language-server.phpactor]
command = "phpactor"
args = [ "language-server", "--config-extra={\"language_server_completion.trim_leading_dollar\":true}" ]

[language-server.phpstan]
command = "/Users/taro_morita/language-server-phpstan-extension/bin/phpstan-ls"
args = [ "language-server" ]

[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.hx-lsp]
command= "hx-lsp" # github.com/erasin/hx-lsp

[language-server.typos]
command = "typos-lsp" # https://github.com/tekumara/typos-lsp?tab=readme-ov-file


[[language]]
name = "php"
indent = { tab-width = 4, unit = "    "}
language-servers = ["intelephense", "hx-lsp"]
formatter = { command = "bash", args = [ "-c", "cat > /tmp/helix_php_cs_fixer && php-cs-fixer fix --using-cache=no --quiet /tmp/helix_php_cs_fixer && cat /tmp/helix_php_cs_fixer"]}
auto-format = false


[[language]]
name = "yaml"
file-types = ["yaml", "yml"]
indent = { tab-width = 4, unit = "    "}
language-servers = ["yaml-language-server", "typos-lsp"]

[[language]]
name = "typescript"
language-servers = [ "typescript-language-server", "eslint", "emmet-ls" ]
formatter = { command = "prettier", args = [ "--parser", "typescript" ] }
# formatter = { command = "dprint", args = [ "fmt", "--stdin", "typescript" ] }
auto-format = true


[[language]]
name = "tsx"
# language-servers = [ "deno", "eslint", "emmet-ls" ]
# formatter = { command = "prettier", args = [ "--parser", "typescript" ] }
language-servers = [ "typescript-language-server", "eslint", "emmet-ls" ]
formatter = { command = "prettier", args = [ "--parser", "typescript" ] }
# formatter = { command = "dprint", args = [ "fmt", "--stdin", "tsx" ] }
auto-format = true

[[language]]
name = "rust"
# language-servers= ["rust-analyzer"]
auto-format = true

[[language]]
name = "go"
language-servers = [ "gopls", "hx-lsp", "typos-lsp"]
# language-servers = [ "gopls"]
formatter = { command = "gofmt" }
auto-format = true

[[language]]
name = "python"
language-servers = ["pyright"]
formatter = { command = "uv", args = ["run", "ruff", "format", "--stdin-filename", "{file}"] }
auto-format = true

[[language]]
name = "ruby"
auto-format = true
language-servers = [ "solargraph" ]

[[language]]
name = "html"
file-types = ["html", "tpl" ]

[[language]]
name = "markdown"
language-servers = ["hx-lsp"]

